/*==========  Desktop First Method  ==========*/
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
    /* IE10+ specific styles go here */

}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1400px) {

}

@media only screen and (max-width : 1200px) {
    .nav-bar-list-item__link{
        font-size: 13px;
    }
    .phone-wrapp__link{
        font-size: 20px;
    }
    .btn{
        padding: .7em 1.5em;
    }
    .logo {
        max-width: 150px;
        margin: 0 auto;
    }
    .nav-bar-list__item {
        padding: 1.5em .1em;
    }
    .banner-content{
        max-width: 70%;
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
        padding: 0 1rem;
    }
    .h1{
        font-size: 46px;
    }
    .h2{
        font-size: 42px;
    }
    .h5{
        font-size: 18px;

    }
    .p {
        font-size: 16px;
        line-height: 28px;
    }
    .footer-address{
        font-size: 17px;
    }
    .advantage-wrapp{
        max-width: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        padding: 0 15px;
    }
    .text-buttom-wrapp{
        display: block;
    }
    .text-buttom-wrapp__text{
        margin-bottom: 20px;
    }
    .crown:before{
        width: 50%
    }
    .footer-acordion-list-item{
        padding: 5px 0;
        border-top: 1px solid #e4e3e0;
    }
    .footer-acordion-list-item:last-child{
        border-bottom: 1px solid #e4e3e0;
        margin-bottom: 10px;
    }
.footer-acordion-list-item.carent:before{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


}
@media only screen and (max-width : 1024px) {
.start-xs-s{
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
}
    .mobile-logo{
        max-width: 100%;
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        text-align: center;
    }
    .desctop-logo,.hidden-sm{
        display: none;
    }
    .desctop-menu{
        display: none;
    }
    .desctop-menu{
        margin: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        padding-top: 100px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        position: fixed;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        top: -50%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .85);
        visibility: hidden;
        opacity: 0;
        z-index: 300;
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transition: left 0.4s ease-in-out, visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        transition: top 0.4s ease-in-out, visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        transition: top 0.4s ease-in-out, visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
        transition: top 0.4s ease-in-out, visibility 0.4s ease-in-out, opacity 0.4s ease-in-out, transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
        overflow: auto;
    }
    .desctop-menu.active{
        top: 0;
        visibility: visible;
        opacity: 1;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
    span.close{
        position: absolute;
        top: 12px;
        left: 5%;
        z-index: 9999;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border: 2px solid #c3bfc0;
        -webkit-border-radius: .3em;
        border-radius: .3em;
    }
    .close-icn {
        color: #c3bfc0;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        font-size: 32px;
        font-size: 40px;
        display: block;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 11px;


    }
    .nav-bar{
        -webkit-box-flex: 0;
        -webkit-flex: 0;
        -ms-flex: 0;
        flex: 0;
        margin-bottom: 30px;
        -webkit-align-self: stretch;
        -ms-flex-item-align: stretch;
        align-self: stretch;
    }
    .nav-bar-list{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .nav-bar-list__item{
        margin-right: 0;
        padding: .7em .1em;

    }
    .nav-bar-list-item__link,
    .phone-wrapp__link{
        color: #ffffff;
        font-size: 20px;
    }
    .hidden-md-s{display:none !important}
    .mobile-recording{
        position: absolute;
        top: 2%;
        right: 0;

    }
    .follow {
        margin-top: -30px;
        -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
        align-self: flex-end;
    }
    .contacts-header {
        -webkit-align-self: flex-start;
        -ms-flex-item-align: start;
        align-self: flex-start;
        padding-left: 15px;
    }
    .banner-content{
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;

    }
    .advantage-wrapp{
        max-width: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        padding: 0 15px;
    }
    .advantage{
        margin-bottom: 30px;
    }
    .footer-content {
        display: block;
        max-width: 320px;
        margin: 0 auto;
    }
    .footer-acordion {
        max-width: 300px;
        margin: 0 auto;
    }
    .footer-link, .footer-phone{
        color:#0b0b0b;
        font-size: 15px;
    }
    .contacts-footer{
        padding-left: 0;
    }
    .footer .logo {
        margin-bottom: 20px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
.bg-md{
    background-image: none !important;
}

}
@media only screen and (max-width : 991px) {
    .grid-item__text{
        display: none;
    }
    /*.grid-item{*/
        /*width: 100%;*/
    /*}*/
    .grid-row-1{
        height: 240px;
    }
    .grid-row-2{
        height: 480px;
    }
    .share-img{
        max-height: none;
        display: block;
    }
    .founder-wrap{
        text-align: center;
    }
    .reviews-wrapp{
        max-width: 300px;
        padding: 4em 2em 2em 2em;
        margin: 60px auto;
    }
    .reviews-img {
        width: 110px;
        position: absolute;
        left: -webkit-calc(50% - 55px);
        left: calc(50% - 55px);
        top: -webkit-calc(0% - 55px);
        top: calc(0% - 55px);
    }
    /*.slider-nav-item:nth-child(even) {*/
    /*text-align: right;*/
    /*}*/
    /*.slider-nav-item img {*/
    /*display: inline;*/
    /*}*/
    .slider-for-wrapp{
        max-width: 480px;
    }
    .slider-nav-wrapp {
        position: absolute;
        left: 0;
        top: -webkit-calc(0% + 20px);
        top: calc(0% + 20px);
        width: 100%;

    }
    .slider-nav-item__img {
        width: 70px;
        opacity: .4;
    }
    .slider-nav-item.slick-current.slick-active img {
        margin: 0 0 0 20px;
    }
    .slider-nav-item.slick-active img {
        margin:0 20px 0 auto;
    }
    .slider-for .slick-next, .slider-for .slick-prev{
        top: 13%;
    }
    .slider-for .slick-prev {
        left: 35px;
    }
    .slider-for .slick-next {
        right: 37px;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .h1 {
        font-size: 36px;
    }
    .h2{
        font-size: 32px;
    }
    .h5{
        font-size: 17px;
        line-height: 32px;
    }
    .section-title__title:after{
        width: 100px;
    }
    body .tac-xs{
        text-align: center;
    }


}

@media only screen and (max-width : 600px) {
    .grid-item:nth-child(2) .grid-item-bg,.grid-item:nth-child(5) .grid-item-bg{
        -webkit-background-size: contain;
        background-size: contain;
        background-color: #ffffff;
        background-position: right;
    }
    .grid-row-1{
        height: 240px;
    }
    .grid-row-2{
        height: 240px;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    section{
        padding: 30px 0;
    }
    .desctop-menu {
        -webkit-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .h1 {
        font-size: 26px;
    }

    .p {
        font-size: 15px;
        line-height: 26px;
    }

    .h2 {
        font-size: 24px;
    }

    .h5 {
        font-size: 16px;
        line-height: 30px;

    }
    .share,.share-content__text,.share-content{
        display: block;
        -webkit-box-flex: 0;
        -webkit-flex: 0;
        -ms-flex: 0;
        flex: 0;
    }
    .share-content{
    text-align: center;

}
    .grid-item-bg{
        padding: 2em;
    }
    .share-content__text{
        text-align: left;
        margin-bottom: 15px;
    }
    .grid-row-1{
        height: 200px;
    }
    .grid-row-2{
        height: 200px;
    }
    .btn{
        margin: 0 auto;
        display: block;
        width: 100%;
    }
    .grid-item{
        padding: 5px;
    }
    .crown:before{
        width: 70%;
        top: 0;

    }

    #map {
        height: 540px
    }
    .map-description {
        top: 42px;
        width: 280px;
        left: -webkit-calc(50% - 140px);
        left: calc(50% - 140px);

    }
}

/* Custom, iPhone Retina */



/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 481px) {


}
@media (max-width :991px) and (min-width :600px) {
    /*.grid-item {*/
        /*-ms-flex-preferred-size: 50%;*/
        /*flex-basis: 50%;*/
        /*max-width: 50%;*/
    /*}*/
    .grid-col-sm-4{
        width: 25%
    }
    .grid-col-sm-6{
        width:50%
    }

}
/* Small Devices, Tablets */
@media only screen and (min-width :992px) {
    .review-item {
        max-width: 45%
    }
    .review-item:nth-child(odd){
     margin-right: 5%;
        margin-left: 5%;
 }

.reviews-img{
    width: 110px;
    position: absolute;
    left: -55px;
    top: -webkit-calc(50% - 55px);
    top: calc(50% - 55px);
}
    .slider-nav-wrapp{
        display: none;
    }

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .grid-col-md-3{
        width: 25%
    }
    .col-md-25{
        width: 20%;
        -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
        max-width: 20%;
    }

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1025px) {
    .mobile-menu,
    .hidden-lg-s{
        display: none;
    }
    .sub-menu {
        position: absolute;
        top: 100%;
        background: silver;
        width: 220px;
        background-color: #373234;

    }
    .nav-bar-list-item:hover .sub-menu {
        max-height: 30em;
        opacity: 1;
        visibility: visible;
        padding: 15px;

    }
    .footer-sub-menu {
        top: inherit;
        bottom: 100%;
    }
}
