include ../global/_mixins
<!DOCTYPE html>
html(lang="ru")
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='theme-color', content='#ffcc00')
        link(rel='icon', type='image/x-icon', href='favicon.ico')/
        link(href='css/styles.min.css', type='text/css', rel='stylesheet')
        <!--[if lt IE 9]>
        script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js', data-skip-moving='true')
        script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js', data-skip-moving='true')
        <![endif]-->
        title
            block title
    body
        .c-page
            include ../global/header-no-border
            main.c-main
                block main

            include ../global/footer
        //include ../global/modal
        include ../global/scripts