@font-face {
	font-family: "ProximaNovaExtrabld";
	src: url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot");
	src: url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.eot?#iefix") format("embedded-opentype"),
	url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.woff") format("woff"),
	url("../fonts/ProximaNova-Extrabld/ProximaNova-Extrabld.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot");
	src: url("../fonts/ProximaNova-Regular/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.woff") format("woff"),
	url("../fonts/ProximaNova-Regular/ProximaNova-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "RobotoLight";
	src: url("../fonts/RobotoLight/RobotoLight.eot");
	src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"),
	url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
	url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "ProximaNovaSemibold";
	src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot");
	src: url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.woff") format("woff"),
	url("../fonts/ProximaNova-Semibold/ProximaNova-Semibold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "Cormorant-SemiBoldItalic";
	src: url("../fonts/CormorantGaramond/Cormorant-SemiBoldItalic.eot");
	src: url("../fonts/CormorantGaramond/Cormorant-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
	url("../fonts/CormorantGaramond/Cormorant-SemiBoldItalic.woff") format("woff"),
	url("../fonts/CormorantGaramond/Cormorant-SemiBoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "CormorantGaramond-BoldItalic";
	src: url("../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.eot");
	src: url("../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.eot?#iefix") format("embedded-opentype"),
	url("../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.woff") format("woff"),
	url("../fonts/CormorantGaramond/CormorantGaramond-BoldItalic.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}
@font-face {
	font-family: "CormorantGaramond-SemiBoldItalic";
	src: url("../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.eot");
	src: url("../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.eot?#iefix") format("embedded-opentype"),
	url("../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.woff") format("woff"),
	url("../fonts/CormorantGaramond/CormorantGaramond-SemiBoldItalic.ttf") format("truetype");

}
@font-face {
	font-family: "CormorantGaramond-Italic";
	src: url("../fonts/CormorantGaramond/CormorantGaramond-Italic.eot");
	src: url("../fonts/CormorantGaramond/CormorantGaramond-Italic.eot?#iefix") format("embedded-opentype"),
	url("../fonts/CormorantGaramond/CormorantGaramond-Italic.woff") format("woff"),
	url("../fonts/CormorantGaramond/CormorantGaramond-Italic.ttf") format("truetype");

}
@font-face {
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold/RobotoBold.eot");
	src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"),
	url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
	url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");

}