footer.c-footer

	.c-footer__row
		.c-footer__item.c-footer__item--xs
			h4.c-footer__caption Support
			ul.b-list
				li.b-list__item
					a(href="mailto:hello@mappyplace.com").b-list__link hello@mappyplace.com
				li.b-list__item
					a(href="#").b-list__link Live Chat

		.c-footer__item.c-footer__item--xs
			h4.c-footer__caption Follow Us
			ul.b-list
				li.b-list__item
					a(href="#").b-list__link Instagram
				li.b-list__item
					a(href="#").b-list__link Facebook
				li.b-list__item
					a(href="#").b-list__link Twitter

		.c-footer__item.c-footer__item--lg
			h4.c-footer__caption Newsletter

			form(action="/" method="post").b-newsletter
				input(type="email" placeholder="Your email").b-newsletter__input
				button.b-newsletter__button Send

			p Stay connected to be the first to know about discounts and promotions.


	.c-footer__copyright
		p © 2018 Mappy Place 2018 • your city map on canvas
		a(href="#") Privacy Policy
