header.c-header.js-header
	.c-header__logo
		a(href="/").b-logo
			.b-logo__figure
				include ../../assets/img/svg/icon/logo.svg
			span.b-logo__title mappy place

	.c-header__navigation.js-mobile-menu
		.b-navigation
			a(href="#").b-navigation__item About
			a(href="#").b-navigation__item Inspiration
			a(href="#").b-navigation__item Support
			a(href="#").b-navigation__item Contact

		.c-header__create-button-mobile
			a(href="#").e-button-frame
				.e-button-frame__triangle
				.e-button-frame__border
				| Create Poster
	.c-header__right

		a(href="#").b-product-cart-icon
			.b-product-cart-icon__figure
				include ../../assets/img/svg/icon/cart.svg
			span.b-product-cart-icon__sum $39
			span.b-product-cart-icon__count 3
		.c-header__button-corner
			a(href="#").e-button-corner Create Poster

		.c-header__burger
			a(href="#").e-burger.js-burger
				span.e-burger__line



