@font-face {
			font-family: "LatoRegular";
			src: url("../fonts/Lato/LatoRegular/LatoRegular.eot");
			src: url("../fonts/Lato/LatoRegular/LatoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoRegular/LatoRegular.woff") format("woff"),
			url("../fonts/Lato/LatoRegular/LatoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBold";
			src: url("../fonts/Lato/LatoBold/LatoBold.eot");
			src: url("../fonts/Lato/LatoBold/LatoBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoBold/LatoBold.woff") format("woff"),
			url("../fonts/Lato/LatoBold/LatoBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoItalic";
			src: url("../fonts/Lato/LatoItalic/LatoItalic.eot");
			src: url("../fonts/Lato/LatoItalic/LatoItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoItalic/LatoItalic.woff") format("woff"),
			url("../fonts/Lato/LatoItalic/LatoItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLight";
			src: url("../fonts/Lato/LatoLight/LatoLight.eot");
			src: url("../fonts/Lato/LatoLight/LatoLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoLight/LatoLight.woff") format("woff"),
			url("../fonts/Lato/LatoLight/LatoLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoBoldItalic";
			src: url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot");
			src: url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.woff") format("woff"),
			url("../fonts/Lato/LatoBoldItalic/LatoBoldItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}

	@font-face {
			font-family: "LatoLightItalic";
			src: url("../fonts/Lato/LatoLightItalic/LatoLightItalic.eot");
			src: url("../fonts/Lato/LatoLightItalic/LatoLightItalic.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoLightItalic/LatoLightItalic.woff") format("woff"),
			url("../fonts/Lato/LatoLightItalic/LatoLightItalic.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
        @font-face {
			font-family: "LatoBlack";
			src: url("../fonts/Lato/LatoBlack/Lato-Black.eot");
			src: url("../fonts/Lato/LatoBlack/Lato-Black.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoBlack/Lato-Black.woff") format("woff"),
			url("../fonts/Lato/LatoBlack/Lato-Black.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
         @font-face {
			font-family: "LatoThin";
			src: url("../fonts/Lato/LatoThin/LatoThin.eot");
			src: url("../fonts/Lato/LatoThin/LatoThin.eot?#iefix")format("embedded-opentype"),
			url("../fonts/Lato/LatoThin/LatoThin.woff") format("woff"),
			url("../fonts/Lato/LatoThin/LatoThin.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}