/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
    body{
        font-size: 15px;
    }
}
@media only screen and (max-width : 1024px) {
    body{
        font-size: 14px;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    body{
        font-size: 13px;
    }
    .head-title{
        margin: 0;
    }
    .header{
        left: -100px;
    }
    .main{
        margin-left: 0;
    }
    .background{
        font-size: 16em;
        
    }
    .headWrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        height: 100%;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .background {
        font-size: 14em;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    body{
        font-size: 12px;
    }
.background {
        font-size: 12em;
}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
.big-title {
    font-size: 6em;
}
.head-title__desc{
    font-size: 1.4em;
}
.background {
    font-size: 6em;
}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .btnHeader{
        left: 0 !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}