doctype html
html
    //include head
    include ./includes/head.jade
    body
        //HEADER
        include ./includes/header.jade
        //CONTENT
        //Breadcrumbs
        .breadcrumbsWrapp
            .container
                .row
                    .col
                        nav.breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbsItem
                                    a(href="" class="breadcrumbsItem__link") Главная
                                li.breadcrumbsItem
                                    a(href="" class="breadcrumbsItem__link") О нас
        //about-Us
        section
            .container
                .row
                    .col
                        .titleSection
                            h2.titleSection__title О нас
                .row
                    .col
                        .introductory
                            h3.introductory__text Мы начинали наш путь с малого и вышли на уровень международной компании, и это не предел. Каждый сотрудник нашей компании знает и любит свое дело, а это самое главное. Исходя из этого, можно сказать, что мы впереди, потому что любим свое дело и покажем это вам!
                            h3.introductory__author.author
                                span.author__name Ирина Григорьева,
                                span.author__company основатель Fashion Collection
                        .mt-b-50
                            img(src="img/about-us/author.png" alt="Ирина Григорьева")
                        .introductory
                            p.aboutUsText.firstBig Наша компания занимается не просто тем, чем она занимается. Мы занимаемся намного более полезными занятиями, чем полезные занятия парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
            .container-fluid
                .row
                    .clearfix.wrapping
                        img(src="img/about-us/item-1.png" alt="alt" class="wrapping__img")
                        p.aboutUsText.wrapping__text Иногда покупая туалетную воду, мы не задумываемся над её компонентами. Исключением может быть случай, когда вы точно знаете, что хотитецитрусовый или древесный парфюм. Обычно чувствуется аромат верхних нот композиции. Из-за этого, мы не всегда распознаем остальные аккорды в духах.
                        p.aboutUsText.wrapping__text Иногда услышав новое название ингредиента, кажется, что никогда не знал о нём. Например, популярная сейчас тубероза. А ведь она уже «давняя жительница» парфюмерного мира. Родиной этого цветка считается Мексика, но основные места выращивания Франция, Италия, Испания, Марокко, Индия.аромат верхних нот композиции.
            .container
                .row
                    .col
                        .introductory
                            p.aboutUsText Иногда покупая туалетную воду, мы не задумываемся над её компонентами. Исключением может быть случай, когда вы точно знаете, что хотитецитрусовый или древесный парфюм. Обычно чувствуется аромат верхних нот композиции. Из-за этого, мы не всегда распознаем остальные аккорды в духах. Иногда услышав новое название ингредиента, кажется, что никогда не знал о нём. Например, популярная сейчас тубероза. А ведь она уже «давняя жительница» парфюмерного мира. Родиной этого цветка считается Мексика, но основные места выращивания Франция, Италия, Испания, Марокко, Индия.
                            p.aboutUsText.m0 Тубероза имеет сладкий аромат, а духи, где она занимает верхнюю ступень ольфакторнойпирамиды,  длинный шлейф. Благодаря своей опьяняющей ноте, тубероза часто встречается в цветочных и восточных ароматах. Цветок довольно хорошо сочетается с фруктовыми, цитрусовыми аккордами. Но особенная связь у туберозы с белыми цветами, в частности с жасмином.


        //Footer
        include ./includes/footer.jade
        //Scripts
        include ./includes/scripts.jade

