doctype html
html
    //include head
    include ./includes/head.jade
    body
        //HEADER
        include ./includes/header.jade
        //CONTENT
        //Breadcrumbs
        .breadcrumbsWrapp
            .container
                .row
                    .col
                        nav.breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbsItem
                                    a(href="" class="breadcrumbsItem__link") Главная
                                li.breadcrumbsItem
                                    a(href="" class="breadcrumbsItem__link") Красота
        //Blog
        section
            .container
                .row
                    .col
                        .titleSection
                            h2.titleSection__title Красота
            .container
                .row.hidden-sm.hidden-xs
                    .col-md-8.mb-15
                        .gradient-bf__light.topicImg
                            img(src="img/topics/item-1b.png" class="topicImg__img" alt="alt")
                    .col-md-4
                        .network.networkStatic.clearfix
                            .network__data.network__item.networkStatic__item
                                i(class="fa fa-calendar" aria-hidden="true")
                                span.ml-8 19.08.2017
                            .network__share.network__item.networkStatic__item
                                a(href="#" class="share__link")
                                    i(class="fa fa-share-alt" aria-hidden="true")
                                    span.ml-8 Поделиться
                        .topicArticle
                            a(href="#" class="topic__link")
                                h3.topicTitle.smallTopicTitle Детокс-модуль с инфракрасным излучением IYASHI DOME. Поможет ли он сбросить вес и уменьшить целлюлит?
                            p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                //Grid Item
                .row
                    .grid.mb-30.clearfix
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-1.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle Сладкий плен: ноты туберозы в парфюмерных композициях
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-2.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle С головой в отпуск: как защитить волосы от морской воды и солнца
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-3.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle С головой в отпуск: как защитить волосы от морской воды и солнца
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-4.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle С головой в отпуск: как защитить волосы от морской воды и солнца
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-5.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle С головой в отпуск: как защитить волосы от морской воды и солнца
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-6.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle Детокс-модуль с инфракрасным излучением IYASHI DOME. Поможет ли сбросить вес и уменьшить целлюлит?
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-7.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle Детокс-модуль с инфракрасным излучением IYASHI DOME. Поможет ли сбросить вес и уменьшить целлюлит?
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-8.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle Из Австралии с любовью: свойства премиум-косметики Ausganica
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                        .grid-item
                            .gridArticle.clearfix
                                .gradient-bf__light.topicImg.gridArticleImg
                                    img(src="img/grid-item/item-9.png" class="gridArticleImg__img" alt="alt")
                                    .network.topicImg__network
                                        .network__data
                                            i(class="fa fa-calendar" aria-hidden="true")
                                            span.ml-8 19.08.2017
                                        .network__share
                                            a(href="#" class="share__link")
                                                i(class="fa fa-share-alt" aria-hidden="true")
                                                span.ml-8 Поделиться
                                .gridArticle__text
                                    a(href="#" class="topic__link")
                                        h3.topicTitle.smallTopicTitle Наглядное пособие: увидеть будущие изменения во внешности тепер реально
                                    p.topicText Мир парфюмерии велик… Заходя в магазин, мы видим сотни флаконов с ароматами. Кто-то уделяет внимание только любимым брендам или определённой категории парфюма, а кто-то наносит десятки вариантов, чтобы найти свой. Исходя из этого, можно предположить, что само понятие «мода в парфюмерии» несостоятельно. Ведь каждому свое! Но всё же иногда парфюмеры
                    .showMore.tac
                        button(class="btn btnTrsp btnSilver btnBig") Показать еще
                            i(class="fa fa-refresh" aria-hidden="true")


        //Footer
        include ./includes/footer.jade
        //Scripts
        include ./includes/scripts.jade

