doctype html
html
    //include head
    include ./includes/head.jade
    body
        //HEADER
        include ./includes/header.jade
        //CONTENT
        //Breadcrumbs
        .breadcrumbsWrapp
            .container
                .row
                    .col
                        nav.breadcrumbs
                            ul.breadcrumbs__list
                                li.breadcrumbsItem
                                    a(href="" class="breadcrumbsItem__link") Главная
                                li.breadcrumbsItem
                                    a(href="" class="breadcrumbsItem__link") Красота
        //Releases
        section
            .container
                .row
                    .col
                        .titleSection
                            h2.titleSection__title Выпуски
                 //Grid Item
                .row

                    .grid-css-container.mb-30.clearfix
                        .grid-css.grid-col-xs-6.grid-col-md-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-1.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-2.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-3.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-4.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-5.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-6.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-7.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-8.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-9.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-10.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-4.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-5.png" class="releasesImgGrid__img" alt="alt")
                        .grid-css.grid-col-md-3.grid-col-xs-6
                            .gridArticle.clearfix
                                .topicImg.gridArticleImg.releasesImgGrid.sliderMultipleItemImg.shadow
                                    h2.sliderMultipleItemTitle__title.releasesImgGrid__title Июнь 2017
                                    a(href="#" class="topicImg__link btnTrsp releasesImgGrid__link") Читать выпуск
                                    img(src="img/releases/item-6.png" class="releasesImgGrid__img" alt="alt")


                    .showMore.tac
                        button(class="btn btnTrsp btnSilver btnBig") Показать еще
                            i(class="fa fa-refresh" aria-hidden="true")


        //Footer
        include ./includes/footer.jade
        //Scripts
        include ./includes/scripts.jade

