footer.footer
    .row-flex
        .logo.footer__box
            a(href="index.html")
                h2.logo__title Capricci
        .copyright.footer__box
            p.copyright__text ©2017 «Каприччи» Все права защищены
        .follow.footer__box
            ul.row-flex.follow-list
                li.follow-item
                    a(href="" class="follow-item__link")
                        i.icn.vk
                li.follow-item
                    a(href="" class="follow-item__link")
                        i.icn.fb
                li.follow-item
                    a(href="" class="follow-item__link")
                        i.icn.tw
                li.follow-item
                    a(href="" class="follow-item__link")
                        i.icn.inst
