header.header
    .row-flex.storey-1
        .logo.logo-header
            a(href="index.html")
                h2.logo__title Capricci
        nav.navbar-wrap
            ul.navbar
                li.navbar-item
                    a(href="index.html" class="navbar-item__link") Главная
                li.navbar-item
                    a(href="#" class="navbar-item__link") Ткани в интерьере
                li.navbar-item
                    a(href="#" class="navbar-item__link") Оплата
                li.navbar-item
                    a(href="#" class="navbar-item__link") Доставка
                li.navbar-item
                    a(href="#" class="navbar-item__link") О нас
                li.navbar-item
                    a(href="#" class="navbar-item__link") Контакты
        .header-phone
            a(href="tel: +79879807433 " class="header-phone__link") +7 987 980 74 33
        .header-cart
            span Корзина
            i.icn.cart.header-cart__icn
            span.header-cart__count 5
    .row-flex.storey-2
        nav.header-category-wrap
            ul.header-category
                li.header-category-item
                    a(href="index.html" class="header-category-item__link") Текстиль
                li.header-category-item
                    a(href="#" class="header-category-item__link") Карнизы
                li.header-category-item
                    a(href="#" class="header-category-item__link") Басонные изделия
                li.header-category-item
                    a(href="#" class="header-category-item__link") Готовые изделия
                li.header-category-item
                    a(href="#" class="header-category-item__link") Столовый текстиль
                li.header-category-item
                    a(href="#" class="header-category-item__link") Картины
                li.header-category-item
                    a(href="#" class="header-category-item__link") Светильники

