extends ../template/main-header-border
block title
	| Markup
block main
	.b-notfound
		.b-notfound__item.b-notfound__item--text
			h2.b-notfound__text Sorry, we can't find the page you are looking for.
		.b-notfound__item.b-notfound__item--error
			//.b-notfound__error 404
			.b-notfound__error-icon
				include ../../assets/img/svg/icon/404.svg



