extends ../template/main
block title
    | Markup
block main

    section.b-welcome-mappy
        .b-welcome-mappy__container
            .b-welcome-mappy__row
                .b-welcome-mappy__figure-1
                    .b-welcome-mappy__figure-1-icon
                        include ../../assets/img/svg/icon/mappy-fig-1.svg
                .b-welcome-mappy__figure-2
                    .b-welcome-mappy__figure-2-icon
                        include ../../assets/img/svg/icon/mappy-fig-2.svg
                .b-welcome-mappy__figure-3
                    .b-welcome-mappy__figure-3-icon
                        include ../../assets/img/svg/icon/mappy-fig-3.svg

            .b-welcome-mappy__row.b-welcome-mappy__row--wrap-tablet
                .b-welcome-mappy__content.b-welcome-mappy__content--without-discount
                    .b-welcome
                        h1.b-welcome__caption Mappy Place

                        p.b-welcome__text Create and customise city map prints of anywhere in the world

                        a(href="#").e-button.e-button--mobile-full-w Create Poster
                .b-welcome-mappy__figure-4
                    .b-welcome-mappy__figure-4-icon
                        include ../../assets/img/svg/icon/mappy-fig-4.svg
                .b-welcome-mappy__figure-5
                    .b-welcome-mappy__figure-5-icon
                        include ../../assets/img/svg/icon/mappy-fig-5.svg


    section.b-benefit-wrap
        .c-row.c-justify-center
            .b-benefit-wrap__item
                .b-benefit.b-benefit--blue

                    .b-benefit__figure
                        include ../../assets/img/svg/icon/globe.svg
                    .b-benefit__title Fast shipping, worldwide
            .b-benefit-wrap__item
                .b-benefit.b-benefit--yellow
                    .b-benefit__figure
                        include ../../assets/img/svg/icon/print.svg
                    .b-benefit__title Premium Quality Prints
            .b-benefit-wrap__item
                .b-benefit.b-benefit--green
                    .b-benefit__figure.b-benefit__figure--like
                        include ../../assets/img/svg/icon/like.svg
                    .b-benefit__title 100% Satisfaction Guarantee

    section.b-create-poster
        .b-section-heading.b-section-heading--mobile-gutter-0
            h2.b-section-heading__caption Create Your Poster
        .b-create-poster__slider.js-maps-slider
            a(href="#").b-create-poster__slider-item
                img(src="assets/img/maps/item-1.jpg" alt="alt")
            a(href="#").b-create-poster__slider-item
                img(src="assets/img/maps/item-3.jpg" alt="alt")
            a(href="#").b-create-poster__slider-item
                img(src="assets/img/maps/item-1.jpg" alt="alt")
            a(href="#").b-create-poster__slider-item
                img(src="assets/img/maps/item-3.jpg" alt="alt")
            a(href="#").b-create-poster__slider-item
                img(src="assets/img/maps/item-1.jpg" alt="alt")
            a(href="#").b-create-poster__slider-item
                img(src="assets/img/maps/item-3.jpg" alt="alt")
            a(href="#").b-create-poster__slider-item
                img(src="assets/img/maps/item-1.jpg" alt="alt")
        .b-create-poster__button
            a(href="#").e-button.e-button--mobile-full-w Create Poster
    section.b-reviews
        .b-reviews__row
            .b-reviews__item.b-reviews__item--content
                h2.b-reviews__caption Customers Say
                .b-review
                    h3.b-review__text If anyone ever wants to give me a gift, visit the @mappyplace site for ideas. Just amazing!
                    a(href="#").b-review__twitter @eliciatoyou on Twitter


                .b-reviews__circle
                    .b-reviews__circle-figure
                        include ../../assets/img/svg/icon/circle.svg

            .b-reviews__item

                .b-review-img
                    .b-review-img__item
                        img(src="assets/img/review/item-2.png" alt="alt")
                    .b-review-img__item
                        img(src="assets/img/review/item-1.png" alt="alt")
                    .b-review-img__item
                        img(src="assets/img/review/item-3.png" alt="alt")

                a(href="#").b-reviews__more More inspiration
                    span.b-reviews__more-figure
                        include ../../assets/img/svg/icon/arrow-right.svg