extends ../template/main-header-border
block title
	| Markup
block main
	.o-content.o-content
		.o-content__item
			h1.h1 Inspiration
			.b-inspiration-list
				a(href="#").b-inspiration-list__item
					img(src="assets/img/maps/item-1-sm.jpg" alt="alt")
				a(href="#").b-inspiration-list__item
					img(src="assets/img/maps/item-2-sm.jpg" alt="alt")
				a(href="#").b-inspiration-list__item
					img(src="assets/img/maps/item-3-sm.jpg" alt="alt")


