@font-face {
  font-family: 'Playfair Display SC';
  src: url(../fonts/Playfair/PlayfairDisplaySC-Regular.eot);
  src: url(../fonts/Playfair/PlayfairDisplaySC-Regular.eot?#iefix) format('embedded-opentype'), url(../fonts/Playfair/PlayfairDisplaySC-Regular.woff2) format('woff2'), url(../fonts/Playfair/PlayfairDisplaySC-Regular.woff) format('woff'), url(../fonts/Playfair/PlayfairDisplaySC-Regular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifRegular';
  src: url(../fonts/NotoSerifRegular/NotoSerifRegular.eot);
  src: url(../fonts/NotoSerifRegular/NotoSerifRegular.eot?#iefix) format('embedded-opentype'), url(../fonts/NotoSerifRegular/NotoSerifRegular.woff) format('woff'), url(../fonts/NotoSerifRegular/NotoSerifRegular.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSerifBold';
  src: url(../fonts/NotoSerifBold/NotoSerifBold.eot);
  src: url(../fonts/NotoSerifBold/NotoSerifBold.eot?#iefix) format('embedded-opentype'), url(../fonts/NotoSerifBold/NotoSerifBold.woff) format('woff'), url(../fonts/NotoSerifBold/NotoSerifBold.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* Fonts */
body {
  margin: 0;
  font-family: 'NotoSerifRegular', sans-serif;
  font-size: 16px;
  color: #353535;
}
body * {
  outline: none !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #353535;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}
.container {
  margin: 0 auto;
  padding: 0 2.1em;
  max-width: 768px;
}
.title-wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 32px;
  margin-bottom: 23px;
}
.title {
  font-family: 'Playfair Display SC';
  text-transform: uppercase;
  font-size: 3.1em;
  margin-right: 3%;
}
.title-desc {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.title-desc:before {
  position: absolute;
  bottom: 8px;
  content: '';
  border-bottom: 2px solid #000;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
}
.article__img {
  position: relative;
}
.article__title {
  font-family: 'NotoSerifBold';
  font-size: 0.81em;
  line-height: 1;
  margin-top: 10px;
}
.article__auth {
  font-size: .81em;
  color: #bebebe;
}
.article__date {
  position: absolute;
  left: 3%;
  top: 4%;
  padding: 3.2% 5.36%;
}
.date {
  background-color: rgba(255, 255, 255, 0.8);
}
.date:before {
  position: absolute;
  top: 2.25em;
  right: 1.2em;
  content: '';
  width: 3px;
  height: 5px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAAFCAMAAAC3r6aQAAAABlBMVEUAAAAAAAClZ7nPAAAAAXRSTlMAQObYZgAAABRJREFUeAFjYGRgYGBkBGFGMA1EAAByAAq6WU2lAAAAAElFTkSuQmCC);
}
.date__d,
.date__m {
  display: block;
  text-align: center;
}
.date__d {
  font-size: 2.3em;
  line-height: .8;
}
.date__m {
  text-transform: lowercase;
  font-size: 1.15em;
  line-height: 1.7;
}
.grid {
  position: relative;
  margin: 0 -8px;
  padding-top: 14px;
}
.grid:after {
  content: "";
  display: table;
  clear: both;
}
.grid__item {
  float: left;
  width: 25%;
  padding: 0 10px;
  margin: 0 0 20px;
  position: relative;
  /* vertical-align: middle; */
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* align-content: center; */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* vertical-align: middle; */
  height: 104px;
}
.grid__date {
  margin-top: 5px;
}
.grid__date:before {
  top: 2.4em;
  right: 1.9em;
}
.grid__img {
  height: 100%;
}
.grid-col-2 {
  height: 228px;
}
.pages {
  font-size: .789em;
  color: #848484;
}
.pagination {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 6px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.pagination__back,
.pagination__next {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  margin: 0;
  padding: 0;
  font-size: 0.83em;
}
.pagination-list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 19px;
  padding: 0;
}
.pagination-list-item__link {
  display: block;
  width: 32px;
  height: 32px;
  margin: 5px .42em;
  text-align: center;
  font-size: .9em;
  line-height: 32px;
}
.pagination-list-item__link.active {
  background-color: #e6e6e6;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-family: 'NotoSerifBold';
}
body .tizer {
  float: left;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: start;
      -ms-flex-align: start;
          align-items: start;
  background-color: #fbf6e8;
  margin-bottom: 11px;
}
body .tizer__sign {
  color: #cbcac7;
  font-family: 'NotoSerifBold';
  font-size: .6em;
}
body .tizer__title {
  font-family: 'NotoSerifBold';
  font-size: .82em;
}
body .tizer__content {
  padding-left: 18px;
}
body .tizer__text {
  font-size: .74em;
}
/*Adaptive*/
@media only screen and (max-width: 481px) {
  .container {
    padding: 0 1.2em;
  }
  .title-wrapp {
    margin-top: 35px;
  }
  .article__date {
    position: absolute;
    left: 2.1%;
    top: 3%;
    padding: 1.2% 2.5%;
  }
  .date__d {
    font-size: 1.2em;
    line-height: 1.2;
  }
  .date__m {
    text-transform: lowercase;
    font-size: .85em;
    line-height: 1.5;
  }
  .article__date:before {
    display: none;
  }
  .article-text {
    display: none;
  }
  .grid {
    padding-top: 3px;
    margin: 0 -10px;
  }
  .grid__item,
  .grid-col-1-sm {
    width: 20%;
    height: 52px;
    margin: 0 0 11px;
  }
  .grid-col-2 {
    width: 40%;
    height: 241px;
    margin-bottom: 13px;
  }
  .grid-col-1-sm {
    width: 20%;
    height: 52px;
    margin: 0 0 11px;
  }
  .hidden-sm {
    display: none;
    left: 0 !important;
    top: 0 !important;
  }
  .grid__date:before {
    top: 1em;
    right: 1em;
  }
  .grid__img {
    width: 100%;
  }
}
@media only screen and (max-width: 401px) {
  .container {
    padding: 0 .3em;
  }
  .title-wrapp {
    margin-top: 19px;
    margin-bottom: 16px;
  }
  .title {
    font-size: 2.0em;
    margin-right: 5.9%;
  }
  .title-desc:before {
    bottom: 5px;
  }
  .pages {
    display: none;
  }
  .grid {
    padding-top: 0;
    margin: 0 -5px;
    height: auto !important;
  }
  .grid__item,
  .grid-col-1-xs,
  .tizer {
    width: 25%;
    height: 47px;
    padding: 0 5px;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
  }
  .remove_js_md {
    width: 100%;
    height: 100px;
  }
  .hidden-xs {
    display: none;
  }
}
@media only screen and (min-width: 402px) {
  body .tizer {
    display: none;
  }
}
