footer.footer
    .container
        .row-fl
            .col-md-3.col-xs-12.column-flex
                .logo.logoFooter
                    a(href="/" class="logo__link")
                        img(class="logo__img" src="img/logo.png" alt="logo")
                .copyright.hidden-xs.hidden-sm
                    p © 2003–2017 Fashion Collection 64. Все права защищены.
            .col-md-2.col-xs-12.acordionMenu
                h3.menuName__title.hidden-xs.hidden-sm Рубрики
                a(class="menuName__title hidden-md hidden-lg carrent") Рубрики
                ul.footerMenu
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") Мода
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") Красота
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") Интереьер
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") Стиль жизни
            .col-md-2.col-xs-12.acordionMenu
                h3.menuName__title.hidden-xs.hidden-sm Информация
                a(class="menuName__title hidden-md hidden-lg carrent") Информация
                ul.footerMenu
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") О нас
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") Партнеры
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") Выпуски
                    li.footerMenuItem
                        a(href="#" class="footerMenuLink__link") Светская хроника
            .col-md-3.col-xs-12.acordionMenu.acordionMenu-last
                h3.menuName__title.hidden-xs.hidden-sm Контакты
                a(class="menuName__title hidden-md hidden-lg carrent") Контакты
                ul.footerMenu
                    li
                        p.footerText 115419, г. Самара, ул. Орджоникидзе д.11, стр. 40
                    li
                        .footerTell
                            a(href="tel: +74953562523" class="footerTell__link") +7 495 356 25 23
                        .footerMail.align-end
                            a(href="mailto: info@fcollection.ru" class="contentBox__link dark footerMail__link") info@fcollection.ru
            .col-md-2.col-xs-12.column-flex
                .footerSocLink
                    ul.socLinkList.row-flex
                        li.socLinkItem
                            a(href="#" class="socLinkItem__link")
                                i(class="fa fa-vk" aria-hidden="true")
                        li.socLinkItem
                            a(href="#" class="socLinkItem__link")
                                i(class="fa fa-facebook" aria-hidden="true")
                .author
                    p.author__link Разработка сайта -
                        a(href="#" class="contentBox__link dark footerMail__link author__link") WEBOX
                .hidden-md.hidden-lg
                    p.copyright © 2003–2017 Fashion Collection 64. Все права защищены.