@media only screen and (max-width : 481px) {
  .container{
    padding: 0 1.2em;
  }
  .title-wrapp{
    margin-top: 35px;
  }
  .article__date {
    position: absolute;
    left: 2.1%;
    top: 3%;
    padding: 1.2% 2.5%;
  }
  .date__d {
    font-size: 1.2em;
    line-height: 1.2;
  }

  .date__m {
    text-transform: lowercase;
    font-size: .85em;
    line-height: 1.5;
  }
  .article__date{
    &:before{
      display: none
    }
  }
  .article-text{
    display: none;
  }
  .grid {
    padding-top: 3px;
    margin: 0 -10px;
  }

  .grid__item, .grid-col-1-sm {
    width: 20%;
    height: 52px;
    margin: 0 0 11px;
  }

  .grid-col-2 {
    width: 40%;
    height: 241px;
    margin-bottom: 13px;
  }
  .grid-col-1-sm{
    width: 20%;
    height: 52px;
    margin: 0 0 11px;
  }
  .hidden-sm {
    display: none;
    left: 0 !important;
    top: 0 !important;
  }

  .grid__date:before {
    top: 1em;
    right: 1em;
  }
  .grid__img{
    width: 100%;
  }

}
@media only screen and (max-width : 401px) {
  .container {
    padding: 0 .3em;
  }
  .title-wrapp {
    margin-top: 19px;
    margin-bottom: 16px;
  }
  .title {
    font-size: 2.0em;
    margin-right: 5.9%;
  }
  .title-desc:before {
    bottom: 5px;
  }
  .pages{
    display: none;
  }
  .grid{
    padding-top: 0;
    margin: 0 -5px;
    height: auto !important;
  }

  .grid__item, .grid-col-1-xs, .tizer{
    width: 25%;
    height: 47px;
    padding: 0 5px;
    position: relative !important;
    left: 0 !important;
    top: 0 !important;
  }

  .remove_js_md{
    width: 100%;
    height: 100px;
  }
  .hidden-xs{
    display: none;
  }
}
@media only screen and (min-width : 402px) {
  body .tizer {
    display: none;
  }
}