.o-editor
	display: flex
	background-color: $color-light-bg
	min-height: 100%
	&__navigation
		display: none
		position: absolute
		top: 20px
		left: 20px

	&__map
		position: relative
		padding: 57px 0


	&__sidebar



	@media screen and (max-width: $max-lg)
		flex-direction: column
		&__map
			flex: 1
			display: flex
			flex-direction: column
			justify-content: center
	@media screen and (min-width: $sm)
		&__map
			padding: 48px 0
	@media screen and (min-width: $lg)

		align-items: center
		&__navigation
			display: block
		&__map
			flex: 0 0 63%
			max-width: 63%

		&__sidebar
			flex: 0 0 37%
			max-width: 37%

	@media screen and (min-width: $xl)
		&__map
			flex: 0 0 69%
			max-width: 69%

		&__sidebar
			flex: 0 0 31%
			max-width: 31%